# Server
PORT=3000
NODE_ENV=production

# SMS Gateway (Cloud - mặc định)
SMS_GATEWAY_URL=https://api.sms-gate.app/3rdparty/v1/messages
SMS_GATEWAY_USER=-B-12Y
SMS_GATEWAY_PASS=xme1yle6eczm2t

# Admin
ADMIN_SECRET_KEY=admin@smartbox123

# (Tùy chọn) Local SMS Gateway khi dev
# SMS_GATEWAY_URL=http://192.168.1.5:8080/message
# SMS_GATEWAY_USER=sms
# SMS_GATEWAY_PASS=o4uAdpeJ